html{
    font-size: 10px;
}
header{
    border: 2px solid red;
    width: 80rem;
    height: 20rem;
    margin: 0 auto;
}
p{
    text-align: center;
    font-size: 3.2rem;
    padding-top: 5%;
}
div{
    border: 2px solid orange;
    width: 80rem;
    height: 40rem;
    margin: 0 auto;
    display: flex;
}
nav{
    width: 10rem;
    height: 40rem;
    border: 2px solid orange;
}
nav p{
    font-size: 2.5rem;
    margin-top: 200%;
}
section{
    width: 70rem;
    height: 40rem;
    border: solid orange;
}
section p{
    margin-top: 20%;
}
footer{
    width: 80rem;
    height: 20rem;
    margin: 0 auto;
    border: 2px solid grey;
}
span{
    font-size: 3.2rem;
    margin-left: 2rem;
}